# Python
__pycache__/
*.pyc
.venv/
venv/

# Django
db.sqlite3
staticfiles/

# Secrets
.env

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db


# frontend/node_modules is ignored by frontend/.gitignore
